html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
h1 {
  text-align: center;
}

body {
  background-color: #1e1e1e;
  color: white;
}

body header {
  height: 120vh;
  background-image: url("images/waveDown.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

body header .heading {
  margin-top: 20px;
  color: white;
}

body header .heading img {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 14rem;
}

body header .heading h1 {
  font-family: "Comfortaa", sans-serif;
  margin-top: 15px;
  text-align: center;
  font-size: 3.5rem;
}

body header .heading p {
  font-family: "Roboto Mono";
  font-size: 1.2rem;
  margin-top: 8px;
}

body header .heading button {
  display: block;
  margin: auto;
  padding: 15px 30px;
  margin-top: 50px;
  background-color: #006edc;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 1.2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

body header .heading a {
  text-decoration: none;
}

body header .heading button:hover {
  background-color: #1e1e1e;
  border: solid 3px #006edc;
  padding: 12px 27px;
}

body header .heading span {
  font-weight: bold;
  font-size: 4rem;
  color: #008cff;
  font-family: "Comfortaa", sans-serif;
}

body svg {
  width: 100%;
  position: absolute;
  bottom: 10px;
}

body .container1 {
  height: 110vh;
  background-image: url("images/waveUp.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

body .container1 .heading {
  margin: auto;
  text-align: center;
  color: white;
}

body .container1 .heading h1 {
  padding-top: 70px;
  font-weight: bolder;
  font-family: "Comfortaa", sans-serif;
  font-size: 3.5rem;
}

body .container1 .heading p {
  width: 60%;
  margin: auto;
  margin-top: 280px;
  font-size: 1.5rem;
  font-family: "Julius Sans One";
  padding-bottom: 50px;
}

body .container2 {
  background-color: #006edc;
  height: 100vh;
}

body .container2 .crds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #004992;
  font-family: "Comfortaa";
}

body .container2 .crds .crd {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 20px;
  margin: 20px 50px;
  height: 480px;
  width: 300px;
  background-color: white;
}

body .container2 .crds .crd h1 {
  font-weight: bold;
  margin-top: 50px;
}

body .container2 .crds .crd p {
  font-family: "Roboto Mono";
  font-size: 1.1rem;
  padding-top: 50px;
  color: #1e1e1e;
  width: 80%;
  margin: auto auto;
  color: #1e1e1e;
}

body footer {
  height: 30vh;
  background-color: #1e1e1e;
  color: white;
}

body footer .flex1 {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body footer .flex1 .flex {
  height: 100px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer .flex1 .flex i {
  margin-top: -15px;
  font-size: 35px;
  padding-right: 15px;
}

body footer .flex1 a {
  text-decoration: none;
  color: white;
}

body footer .flex1 a:hover {
  color: #006edc;
}

body footer .copyright {
  position: relative;
  top: 30px;
}

@media (max-width: 1000px) {
  #section1 {
    height: auto;
  }
  #section2 {
    height: auto;
  }
  #section3 {
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */